In [22]:
import pandas as pd

In [23]:
path1 = "/Users/guoyalong/Desktop/homework/Dog-Adoption/Data/allDogDescriptions.csv"
path2 = "/Users/guoyalong/Desktop/homework/Dog-Adoption/Data/dogTravel.csv"

In [24]:
Dog_descrip = pd.read_csv(path1)
Dog_descrip

,index,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,...,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description
0,0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,...,adoptable,2019-09-20T16:37:59+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...
1,1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,...,adoptable,2019-09-20T16:24:57+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...
2,2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,...,adoptable,2019-09-20T14:10:11+0000,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...
3,3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,...,adoptable,2019-09-20T10:08:22+0000,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN
4,4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,...,adoptable,2019-09-20T06:48:30+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58175,58175,44605893,WY20,https://www.petfinder.com/dog/tren-44605893/wy...,Dog,Dog,Border Collie,NaN,False,False,...,adoptable,2019-05-03T14:23:49+0000,Lander,WY,82520,US,WY,2019-09-20,Dog,"Due to the small size of our volunteer base, w..."
58176,58176,44457061,WY24,https://www.petfinder.com/dog/harley-44457061/...,Dog,Dog,Australian Shepherd,Australian Cattle Dog / Blue Heeler,True,False,...,adoptable,2019-04-13T16:20:24+0000,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN
58177,58177,42865848,WY20,https://www.petfinder.com/dog/echo-42865848/wy...,Dog,Dog,Border Collie,NaN,False,False,...,adoptable,2018-09-27T04:18:56+0000,Glenrock,WY,82637,US,WY,2019-09-20,Dog,"Due to the small size of our volunteer base, w..."
58178,58178,42734734,WY24,https://www.petfinder.com/dog/simon-42734734/w...,Dog,Dog,Boxer,Mixed Breed,True,False,...,adoptable,2018-09-12T05:03:38+0000,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN
58179,58179,42663515,WY24,https://www.petfinder.com/dog/romeo-42663515/w...,Dog,Dog,Labrador Retriever,Pit Bull Terrier,True,False,...,adoptable,2018-09-03T20:42:24+0000,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN

In [25]:
Dog_descrip.dtypes

index                int64
id                   int64
org_id              object
url                 object
type.x              object
species             object
breed_primary       object
breed_secondary     object
breed_mixed           bool
breed_unknown         bool
color_primary       object
color_secondary     object
color_tertiary      object
age                 object
sex                 object
size                object
coat                object
fixed                 bool
house_trained         bool
declawed           float64
special_needs         bool
shots_current         bool
env_children        object
env_dogs            object
env_cats            object
name                object
status              object
posted              object
contact_city        object
contact_state       object
contact_zip         object
contact_country     object
stateQ              object
accessed            object
type.y              object
description         object
dtype: object

In [26]:
Dog_descrip.columns

Index(['index', 'id', 'org_id', 'url', 'type.x', 'species', 'breed_primary',
       'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary',
       'color_secondary', 'color_tertiary', 'age', 'sex', 'size', 'coat',
       'fixed', 'house_trained', 'declawed', 'special_needs', 'shots_current',
       'env_children', 'env_dogs', 'env_cats', 'name', 'status', 'posted',
       'contact_city', 'contact_state', 'contact_zip', 'contact_country',
       'stateQ', 'accessed', 'type.y', 'description'],
      dtype='object')

In [30]:
Dog_descrip_df = Dog_descrip.drop(['org_id', 'index', 'url', 'type.x', 'species', 'breed_secondary', 'breed_unknown', 'color_primary', 'color_secondary', 'color_tertiary', 'coat', 'fixed', 'declawed', 'status', 'stateQ', 'accessed', 'type.y', 'posted', 'contact_zip' ], axis=1)
Dog_descrip_df

,id,breed_primary,breed_mixed,age,sex,size,house_trained,special_needs,shots_current,env_children,env_dogs,env_cats,name,contact_city,contact_state,contact_country,description
0,46042150,American Staffordshire Terrier,True,Senior,Male,Medium,True,False,True,NaN,NaN,NaN,HARLEY,Las Vegas,NV,US,Harley is not sure how he wound up at shelter ...
1,46042002,Pit Bull Terrier,True,Adult,Male,Large,True,False,True,NaN,NaN,NaN,BIGGIE,Las Vegas,NV,US,6 year old Biggie has lost his home and really...
2,46040898,Shepherd,False,Adult,Male,Large,False,False,True,NaN,NaN,NaN,Ziggy,Mesquite,NV,US,Approx 2 years old.\n Did I catch your eye? I ...
3,46039877,German Shepherd Dog,False,Baby,Female,Large,False,False,False,NaN,NaN,NaN,Gypsy,Pahrump,NV,US,NaN
4,46039306,Dachshund,False,Young,Male,Small,False,False,True,True,True,True,Theo,Henderson,NV,US,Theo is a friendly dachshund mix who gets alon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58175,44605893,Border Collie,False,Adult,Male,Medium,True,False,False,NaN,NaN,NaN,Tren,Lander,WY,US,"Due to the small size of our volunteer base, w..."
58176,44457061,Australian Shepherd,True,Young,Female,Medium,False,False,False,False,False,False,Harley,Riverton,WY,US,NaN
58177,42865848,Border Collie,False,Adult,Female,Medium,True,False,True,NaN,NaN,NaN,Echo,Glenrock,WY,US,"Due to the small size of our volunteer base, w..."
58178,42734734,Boxer,True,Senior,Male,Large,False,False,False,True,True,True,Simon,Riverton,WY,US,NaN
58179,42663515,Labrador Retriever,True,Adult,Male,Large,False,False,False,True,True,True,Romeo,Riverton,WY,US,NaN

In [32]:
Dog_descrip_df.dropna(subset=['env_children', 'env_dogs', 'env_cats'], inplace=True)
Dog_descrip_df

,id,breed_primary,breed_mixed,age,sex,size,house_trained,special_needs,shots_current,env_children,env_dogs,env_cats,name,contact_city,contact_state,contact_country,description
4,46039306,Dachshund,False,Young,Male,Small,False,False,True,True,True,True,Theo,Henderson,NV,US,Theo is a friendly dachshund mix who gets alon...
5,46039304,Boxer,True,Baby,Male,Medium,False,False,True,True,True,True,Oliver,Henderson,NV,US,Oliver was born around mid-June and came to us...
6,46039303,Italian Greyhound,True,Baby,Female,Small,False,False,True,True,True,True,Macadamia,Henderson,NV,US,Macadamia was born around July 8th and donât...
7,46039302,Cattle Dog,True,Baby,Male,Medium,False,False,True,True,True,True,Dodger,Henderson,NV,US,"Dodger is a handsome, smart Heeler mix who was..."
8,46039301,Cattle Dog,True,Baby,Female,Medium,False,False,True,True,True,True,Huckleberry,Henderson,NV,US,Huckleberry is a friendly girl who was born Ma...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58172,44658860,Pit Bull Terrier,True,Baby,Male,Medium,True,False,False,True,True,True,Buddy,Riverton,WY,US,Buddy was an owner surrender by an older gentl...
58173,44629286,Labrador Retriever,True,Adult,Female,Medium,False,False,True,False,False,False,Suzi,Worland,WY,US,NaN
58176,44457061,Australian Shepherd,True,Young,Female,Medium,False,False,False,False,False,False,Harley,Riverton,WY,US,NaN
58178,42734734,Boxer,True,Senior,Male,Large,False,False,False,True,True,True,Simon,Riverton,WY,US,NaN
58179,42663515,Labrador Retriever,True,Adult,Male,Large,False,False,False,True,True,True,Romeo,Riverton,WY,US,NaN

In [19]:
Dog_travel= pd.read_csv(path2)
Dog_travel

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Young,Ohio,NaN,NaN
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

In [20]:
Dog_travel.dtypes

index             int64
id                int64
contact_city     object
contact_state    object
description      object
found            object
manual           object
remove           object
still_there      object
dtype: object

In [21]:
Dog_travel.columns

Index(['index', 'id', 'contact_city', 'contact_state', 'description', 'found',
       'manual', 'remove', 'still_there'],
      dtype='object')

In [34]:
Dog_travel_df = Dog_travel.drop([ 'index', 'found', 'manual', 'remove'], axis=1)
Dog_travel_df

,id,contact_city,contact_state,description,still_there
0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,NaN
1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,NaN
2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,NaN
3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,NaN
4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,NaN
...,...,...,...,...,...
6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,NaN
6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,NaN
6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,NaN
6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,NaN
6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,NaN

In [36]:
Dog_travel_df.dropna(subset=['still_there'], inplace=True)
Dog_travel_df

,id,contact_city,contact_state,description,still_there
319,45901219,Brattleboro,VT,Adoption Fee: $400\n Transport Fee: $160\n\nSh...,True
320,44906501,Brattleboro,VT,Adoption Fee: $250\n Transport Fee: $160\n\n ....,True
321,44906474,Brattleboro,VT,Adoption Fee: $350\n Transport Fee: $160\n\n ....,True
322,44906301,Nanuet,NY,Adoption Fee: $350\n Transport Fee: $160\n\n ....,True
323,42857230,Brattleboro,VT,Athena found herself at a neighbors house with...,True
...,...,...,...,...,...
6182,45188051,Fairmont,WV,Please contact Pet (information@pethelpersinc....,True
6183,45017651,Fairmont,WV,Please contact Pet (information@pethelpersinc....,True
6184,44659739,Fairmont,WV,Please contact Pet (information@pethelpersinc....,True
6185,44289536,Fairmont,WV,Please contact Pet (information@pethelpersinc....,True
6187,42117845,Fairmont,WV,This is Dachshund Chihuahua Blue who weighs 7l...,True